Flask 
python-dotenv 
streamlit 
requests 
Flask-Cors 
gunicorn 
groq 
langchain 
langchain-groq 
langchain-core 
SQLAlchemy # Nueva
Flask-SQLAlchemy # Nueva
psycopg2-binary # Adaptador para PostgreSQL